.question-link:visited{
    color: #ffffff;
  }
  
  a {
    cursor: pointer;
    text-decoration: underline;
  }
  
  a:link {
    color: #61bff9;
  }
  
  a:visited {
    color: #466995;
  }
  
  a:hover { 
    text-decoration: none;
  }
  
  a:active, .question-link:active {
    color:#DBE9EE;
  }
  
  .answer {
    border: #466995 solid 1px;
    color: #61bff9;
    text-decoration: none;
  }
  
  .answer:active {
    background-color: #C0D6DF;
    color: #ffffff;
  }
